<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>首页 - bootstrap中文后台管理系统模板</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
      
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="index.html"><img src="../static/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll">
        
        <div class="sidebar-footer">
          <p class="copyright">Copyright &copy; 2020.  All rights <a href="http://www.bootstrapmb.com/">reserved</a>. </p>
        </div>
      </div>
      
    </aside>
    <!--End 左侧导航-->
    

    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">

        <div>
          <div style="width:45%;height:400px;float:left;" id="pieCharts"></div>
          <div style="width:45%;height:400px;float:left;" id="lineCharts"></div>
        </div>

          
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h2>Test Result</h2>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>CaseName</th>
                        <th>Tag</th>
                        <th>Build</th>
                        <th>Execute Time</th>
                        <th>Log</th>
                        <th>Status</th>
                        <th>Jira</th>
                        <th>Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{range $case:=$.Contents}}
                      <tr>
                      <td>{{$case.CaseName}}</td>
                      <td>{{$case.CaseTag}}</td>
                      <td>{{$case.Build}}</td>
                      <td>{{$case.ExecuteTime}}</td>
                      <td>{{$case.ExecuteDate}}</td>
                      <td>{{$case.Log}}</td>
                      <td>{{$case.Status}}</td>
                      <td>{{$case.Jira}}</td>
                      <td>{{$case.Comments}}</td>
                      </tr>
                    {{end}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          


      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/echarts-all.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>

<!--图表插件-->
<script type="text/javascript" src="../static/js/Chart.js"></script>
<script type="text/javascript">

var pChart = echarts.init(document.getElementById('pieCharts'));
// 指定图表的配置项和数据
option = {
  title: {
    text: 'Test Summary For Today',
    // subtext: '纯属虚构',
    left: 'center',
    x:'center',
    textStyle: {"fontSize": 30}
  },
  tooltip: {
    trigger: 'item',
    formatter: '{a} <br/>{b} : {c} ({d}%)'
  },
  legend: {
    // orient: 'vertical',
    // left: 'right',
    data: ['PASS', 'FAIL', 'UNEXECUTE', ],
    right: '%6',
    x: 'center',
    y: '60',

  },
  series: [
    {
      // name: '访问来源',
      type: 'pie',
      radius: '55%',
      center: ['50%', '60%'],
      data: [
        {value: 335, name: 'PASS'},
        {value: 310, name: 'FAIL'},
        {value: 234, name: 'UNEXECUTE'},
        // {value: 135, name: '视频广告'},
        // {value: 1548, name: '搜索引擎'}
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
// 使用刚指定的配置项和数据显示图表。
pChart.setOption(option);

// 基于准备好的dom，初始化echarts实例
var lChart = echarts.init(document.getElementById('lineCharts'));
// 指定图表的配置项和数据
option = {
  title: {
    text: 'Test History',
    // subtext: '纯属虚构',
    // left: 'right'
    left: 'center',
    x:'center',
    textStyle: {"fontSize": 30}
  },
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  },
  yAxis: {
    type: 'value'
  },
  series: [{
    data: [820, 932, 901, 934, 1290, 1330, 1320],
    type: 'line',
    smooth: true
  }]
};
lChart.setOption(option);

</script>
</body>
</html>