<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Zivi - Admin Dashboard Template</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="/static/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='/static/assets/img/favicon.ico' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        function getlocaltime(utctimestr, id) {
            // console.log(utctimestr);
            var local_date= moment.utc(utctimestr).local().format('YYYY-MM-DD HH:mm:ss');
            console.log(local_date);
            start_date = utctimestr;
            end_date = new Date();
            end_date_format = moment.utc(end_date).format('YYYY-MM-DD HH:mm:ss')
            console.log(end_date_format)
            seconds = moment(end_date,"YYYY-MM-DD HH:mm:ss").diff(moment(start_date,"YYYY-MM-DD HH:mm:ss"))
            console.log(seconds)
            if (seconds > 1000*60*60*24*8) {
//                document.getElementById("finishtime_"+id).className='badge-danger'
                document.getElementById("finishtime_"+id).style.color='red'
                document.getElementById("finishtime_"+id).style.fontWeight='bold'
                document.getElementById("finishtime_"+id).style.fontSize='16px'


            }
            return local_date;
        }
        function getUTCTime(id){
                var datetimeLocal = document.getElementById(id).value;
                var datetimeUTC = moment.utc(datetimeLocal).format();
                return datetimeUTC;

        }

    </script>

</head>