<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html"> <img alt="image" src="/static/assets/img/logo.png" class="header-logo" /> <span
                        class="logo-name">NorthStar</span>
            </a>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-picture">
                <img alt="image" src="/static/assets/img/user.png">
            </div>
            <div class="sidebar-user-details">
                <div class="user-name">Sarah Smith</div>
                <div class="user-role">Administrator</div>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
                <a href="/summary/6.1.0"><i
                            data-feather="monitor"></i><span>All Tasks</span></a>

            </li>
            <li class="dropdown">
                <a href="summary"><i
                            data-feather="briefcase"></i><span>Dashboard</span></a>

            </li>
            <li class="dropdown">
                <a href="jira"><i data-feather="command"></i><span>JIRA</span></a>
            </li>
            <li class="dropdown">
                <a href="note"><i data-feather="mail"></i><span>Note</span></a>

            </li>

        </ul>
    </aside>
</div>