<!DOCTYPE html>
<html lang="en">

{{ template "block/head.html" . }}

<body>
<div class="loader"></div>
<div id="app">
  <div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
    {{ template "block/nav.html" . }}

    <!-- Main Content -->
    {{ template "block/leftbar.html" . }}

    <div class="main-content">
      <section class="section">

        <div class="section-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>All Tasks</h4>
                </div>
                <div class="card-body">
                  {{ template "block/cateversiontab.html" .}}
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="jobTab" role="tabpanel" aria-labelledby="home-tab3">
                      <section class="section">

                        <div class="section-body">
                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-body">
                                  <div class="table-responsive">

                                    {{/*                                      <div style="padding: 0 0 20px 20px;font-size:18px"><a style="padding: 5px;" href="/new/">New Version</a></div>*/}}
                                    <table  class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                      <div style="left: 90px">
                                        <a class="btn btn-primary mr-1" href="/category/{{$.version}}/add/">Add New Category</a>
                                      </div>
                                      <thead>
                                      <tr>
                                        <th>Project Name</th>
                                        <th>Total Test case</th>
                                        <th>Executed#</th>
                                        <th>Pass#</th>
                                        <th>Fail#</th>
                                        <th>Exe Ratio</th>
                                        <th>Pass Ratio</th>
                                        <th>Fail Ratio</th>
                                        <th>Operation</th>
                                      </tr>
                                      </thead>
                                      <tbody>

                                      {{range $case:=$.Contents}}

                                        <tr>
                                          <td>{{$case.ProjectName}}</td>
                                          <td>{{$case.TotalJob}}</td>
                                          <td>{{$case.Executed}}</td>
                                          <td>{{$case.Pass}}</td>
                                          <td>{{$case.Fail}}</td>
                                          <td>{{$case.ExeRatio}}</td>
                                          <td>{{$case.PassRatio}}</td>
                                          <td>{{$case.FailRatio}}</td>
                                          <td><a href="/category/{{$.version}}/edit/{{$case.ProjectName}}">Edit</a>  <form  action="/category/{{$.version}}/delete/{{$case.ProjectName}}" method="post"><button type="submit" onclick="return confirm('Are you sure delete it？')" >Delete</button></form></td>

                                        </tr>
                                      {{end}}
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ template "block/rightbar.html" . }}
    </div>
    <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2019 <div class="bullet"></div> Design By <a href="http://www.bootstrapmb.com/">Redstar</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
</div>
<!-- General JS Scripts -->
<script src="/static/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<script src="/static/assets/bundles/datatables/datatables.min.js"></script>
<script src="/static/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/jszip.min.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
<script src="/static/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
<script src="/static/assets/js/page/datatables.js"></script>
<!-- Template JS File -->
<script src="/static/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/static/assets/js/custom.js"></script>


</body>

</html>