<!DOCTYPE html>
<html lang="en">

{{ template "block/head.html" . }}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {{ template "block/nav.html" . }}

      <!-- Main Content -->
      {{ template "block/leftbar.html" . }}

      <div class="main-content">
        <section class="section">

          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>All Tasks</h4>
                  </div>
                  <div class="card-body">
                    {{ template "block/versiontab.html" .}}
                    <div class="tab-content" id="myTabContent2">
                      <div class="tab-pane fade show active" id="jobTab" role="tabpanel" aria-labelledby="home-tab3">
                        <section class="section">

                          <div class="section-body">
                            <div class="row">
                              <div class="col-12">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="table-responsive">
{{/*                                      <div style="padding: 0 0 20px 20px;font-size:18px"><a style="padding: 5px;" href="/new/">New Version</a></div>*/}}
                                      <table  class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                        <thead>
                                        <tr>
                                          <th>Job Name</th>
                                          <th>Status</th>
                                          <th>PASS#</th>
                                          <th>FAIL#</th>
                                          <th>EXE#</th>
                                          <th>Debug Pending</th>
                                          <th>Source</th>
                                          <th>Tag</th>
                                          <th>Comment</th>
                                          <th>Last Update</th>
                                          <th>Owner</th>
                                          <th>Log URL</th>
                                          <th>Operation</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{range $case:=$.Contents}}
                                        <tr>
                                          <td>{{$case.JobName}}</td>
                                          <td>{{ if eq $case.Status "PASS" }} <div class="badge-success">{{$case.Status}}</div>{{else}}
                                              <div class="badge-danger">{{$case.Status}}</div>{{end}}
                                          </td>
                                          <td>{{$case.PassNum}}</td>
                                          <td>{{$case.FailNum}}</td>
                                          <td>{{$case.ExeNum}}</td>

                                          <td>{{if $case.DebugPending }} {{$case.DebugPending}}{{else}} {{"empty"}} {{end}}</td>
                                          <td>{{if $case.Source }} {{$case.Source}}{{else}} {{"empty"}} {{end}}</td>
                                          <td>{{if $case.Tag }} {{$case.Tag}}{{else}} {{"empty"}} {{end}}</td>
                                          <td>{{if $case.Comment }} {{$case.Comment}}{{else}} {{"empty"}} {{end}}</td>


                                          <td id="finishtime_{{$case.Id}}">{{if $case.FinishedTime }} <script>document.write(getlocaltime("{{$case.FinishedTime}}","{{$case.Id}}"))</script>  {{else}} {{"empty"}} {{end}}</td>
                                          <td>{{if $case.Owner }} {{$case.Owner}}{{else}} {{"empty"}} {{end}}</td>
                                          <td>{{if $case.LogUrl }} {{$case.LogUrl}}{{else}} {{"empty"}} {{end}}</td>
                                          <td><a href="http://127.0.0.1:8080/summary/{{$case.ReleaseVersion}}/edit/{{$case.Id}}">Edite</a>  <form action="/summary/{{$case.ReleaseVersion}}/delete/{{$case.Id}}" method="post"><button type="submit" onclick="return confirm('Are you sure delete it？')" >Delete</button></form></td>
{{/*                                          href='javascript:if(confirm("Are you sure you want to delete？")){location="/summary/{{$case.ReleaseVersion}}/delete/{{$case.Id}}"}'*/}}

                                        </tr>
                                        {{end}}
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2019 <div class="bullet"></div> Design By <a href="http://www.bootstrapmb.com/">Redstar</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/static/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <script src="/static/assets/bundles/datatables/datatables.min.js"></script>
  <script src="/static/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/jszip.min.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script src="/static/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
  <script src="/static/assets/js/page/datatables.js"></script>
  <!-- Template JS File -->
  <script src="/static/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/static/assets/js/custom.js"></script>


</body>

</html>